@import "tailwindcss";
@layer utilities {
  @keyframes blink {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(0.1); }
  }
  
  .animate-blink {
    animation: blink 300ms ease-in-out;
  }
}